{% extends 'base.html.twig' %}

{% block title %}Quest index{% endblock %}

{% block body %}
    <h1 class="text-center">Quest </h1>

    <div class="row justify-content-center">
    {% for quest in quests %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ quest.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> EXP: {{ quest.exp }}</h6>
                <p class="card-text">{{ quest.Description }}</p>
                <a href="#" class="card-link">Validate</a>
            </div>
        </div>
    {% else %}
        no records found
    {% endfor %}

    </div>


{% endblock %}
