{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block body %}
    <h1>Create new Quest</h1>
<div class="row justify-content-center">
    <div class="col-8">
        {{ include('quest/_form.html.twig') }}
    </div>
</div>

{% endblock %}
