.bg-accueil{

    padding: 0px;

}
img{
    border-radius: 5vh;

}

nav{
    background-color: #3a8eba;
    font-family: 'Noto Sans', sans-serif;

}
.aAccueil{
    color: white;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
section{
    margin-top: -50px;
    background-image: url("https://www.coteoweb.com/application/themes/theme_simpleo_coteo/images/landing_page_camping/introduction-landing-page-camping.png");
    height: 560px;
    background-size: 100%;
}
button{
    margin-top: 200px;
    background-color: #3a8eba;
    border-color: #3a8eba;
    color:white;
    padding: 10px;

}
.logoSite{
    height: 200px;
    width:20px;
}

.lol{

    margin-left: 400px;

}
input{
    border-radius: 2px;
}
.btn{
    margin-top: 0;
    background-color:#3a8eba ;
}
li{
    list-style: none;
}
.colorsuccess{
    color:#3a8eba;
}
.titreSucces{
    color:#1E90FF;
}

.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color:#0056b3;
    text-decoration: none;
}
