{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

  {% block body %}

    <section>
        <div class="container">
            <div class="row col-12">
                <a class="favorite styled rounded mx-auto d-block" href="/register"><button class="rounded"
                        type="button">
                    Subscribe
                    </button></a>

            </div>
        </div>

    </section>
      <div class="container">
          <div class="row mt-5">
      <img class="col-6  p-0" src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/2/8/5/285e6423d3_50148975_logiciels.jpg" />
              <p class="col-6 mt-5 text-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="row mt-5">
              <p class="col-6 mt-5 text-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <img class="col-6   p-0" src="https://www.mikodigital.com/wp-content/uploads/2019/06/creation-site-web-avec-agence-600x347.jpg" />
          </div>
          <div class="row mt-5">
              <img class="col-6  p-0" src="https://www.cndcreation.com/wp-content/uploads/2019/08/shutterstock_1229747458-Converti.png" />
              <p class="col-6 mt-5 text-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#3a8eba" fill-opacity="1" d="M0,192L48,165.3C96,139,192,85,288,96C384,107,480,181,576,213.3C672,245,768,235,864,208C960,181,1056,139,1152,101.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>

  {% endblock %}
