

<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">GO-OUT</a>


                <ul class="navbar-nav mr-auto container ">
                        <div class="row col-12">
                         <li class="nav-item dropdown offset-11">
                            <div class="display">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu position-absolute" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">connexion</a>
                             <a class="dropdown-item" href="#">inscription</a>
                             <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">deconnexion</a>
                            </div>
                         </li>
                        </div>


                </ul>

</nav>


