{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class=" row">
        <img CLASS="col-1 rounded-circle" src="{{ asset('assets/img/avatar.jpg') }}" alt=""/>
        <h3 class="col-3">{{ user.pseudo }}</h3>
    </div>


    <div class="row justify-content-center">
        <div class="card  col-10 col-md-8 col-lg-3 mr-1">
            <div class="card-body">
                <h5 class="card-title">Daily Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">View</a>
            </div>
        </div>
        <div class="card col-10 col-md-8 col-lg-3 mr-1">
            <div class="card-body">
                <h5 class="card-title">Limit-time Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">View </a>
            </div>
        </div>
        <div class="card col-10 col-md-8 col-lg-3 ">
            <div class="card-body">
                <h5 class="card-title">Personal Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path('quest_index') }}" class="card-link">View</a>
                <a href="{{ path('quest_new') }}" class="card-link">Create one</a>
            </div>
        </div>
    </div>

{% endblock %}
